.dashboard-comp {

  .mainboard {

    .sdash-1 {
      padding: 20px;
      max-height: calc(100vh - 50px);
      overflow-y: auto;

      // overflow: hidden;
      * {
        color: var(--sidenav-ISO);
      }

      h1 {}

      .overview-content {
        padding: 10px;
        background: linear-gradient(150deg, var(--ovc-light), var(--ovc-gray), var(--ovc-dark));
        background-size: 200% 200%;
        background-position: 100% 0%;
        width: 18vw;
        height: 450px;
        position: relative;
        overflow: hidden;

        @media (max-width:1650px) {
          width: calc(100% - 50% - 10px);
        }

        // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
        // @media (max-width:1368px) {
        //   width: calc(100% - 60% - 10px);
        // }

        &::after {
          position: absolute;
          width: 20vw;
          height: 20vw;
          content: '';
          filter: blur(10px);
          background: var(--ovc-dark);
          border-radius: 50%;
          bottom: -25%;
          right: -25%;
          z-index: -2;
        }
      }

      .dataglobal-content {
        padding: 10px;
        // background: linear-gradient(150deg, #d1c251, #ffffff47, #2079ffa9);
        background-size: 200% 200%;
        background-position: 100% 0%;
        width: 18vw;
        height: 450px;

        @media (max-width:1650px) {
          width: calc(100% - 50% - 10px);
        }

        // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
        // @media (max-width:1368px) {
        //   width: calc(100% - 60% - 10px);
        // }

        h1 {
          height: 30px;
        }

        .act-data-1 {
          // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
          height: calc(50% - 30px - 0px);
          width: 100%;
          background: linear-gradient(150deg, var(--ovc-light), var(--ovc-gray), var(--ovc-dark));
          background-size: 200% 200%;
          background-position: 100% 0%;

          &::after {
            position: absolute;
            width: 12.5vw;
            height: 12.5vw;
            content: '';
            filter: blur(10px);
            background: var(--ovc-dark);
            border-radius: 50%;
            bottom: -25%;
            right: -25%;
            z-index: -2;
          }
        }

      }

      .act-data-1 {
        margin: 20px 0px;
        display: flex;
        backdrop-filter: blur(10px);
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        overflow: hidden;
        z-index: 2;
      }

      .simple-bar-chart,
      .engagement-chart,
      .modern-pie-chart {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 5px;
      }

      .line-layout {
        width: 100%;
        height: 100%;
      }


      .employee-content {
        width: 22.5vw;
        background: linear-gradient(-45deg, var(--emp-light), var(--emp-gray), var(--emp-dark));
        height: 450px;
        padding: 10px;
        position: relative;
        overflow: hidden;

        p {
          color: red;
        }

        @media (max-width:1650px) {
          width: calc(100% - 50% - 10px);
        }

        // @media (max-width:1368px) {
        //   width: calc(38vw);
        // }


        &::after {
          position: absolute;
          width: 25vw;
          height: 25vw;
          content: '';
          filter: blur(10px);
          background: linear-gradient(90deg, var(--emp-circ1), var(--emp-circ2));
          border-radius: 50%;
          bottom: -50%;
          left: -50%;
          z-index: -2;
        }

        .recent-list {
          width: 100%;
          overflow-x: auto;
          overflow-y: auto;

          .table-container {
            max-height: 325px; // Set your desired height
            overflow-y: auto;

            table {
              width: 100%;
              border-collapse: collapse;

              thead {
                th {
                  position: sticky;
                  top: 0;
                  background-color: var(--tb-h); // Ensure a solid background
                  z-index: 1; // So that header stays on top of the tbody rows
                  padding: 7px 10px;
                  text-align: left;
                  font-weight: 600;
                  font-size: 13px;
                }
              }

              tbody {
                tr {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  transition: background-color 0.3s ease;

                  &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                  }

                  td {
                    padding: 7px 10px;
                    font-size: 12px;

                    input {
                      padding: 3.5px;
                      border-radius: 5px;
                      background: #a19850;
                      color: #2d2d2d;

                      &::placeholder {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }

            .custom-checkbox-wrapper {
              display: inline-block;
              position: relative;
            }

            .custom-checkbox-input {
              position: absolute;
              opacity: 0;
              pointer-events: none;
            }

            .custom-checkbox-label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;
              background: #fff;
              border: 2px solid #ccc;
              border-radius: 6px;
              cursor: pointer;
              transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;

              // Add subtle hover and focus effects
              &:hover,
              &:focus {
                box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
              }
            }

            .custom-checkbox-input:checked+.custom-checkbox-label {
              background: linear-gradient(145deg, #85d7ff, #007bff);
              border-color: #007bff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }

            .checkmark {
              width: 16px;
              height: 16px;
              stroke: white;
              stroke-dasharray: 22;
              stroke-dashoffset: 22;
              transition: stroke-dashoffset 0.3s ease-in-out;
            }

            .custom-checkbox-input:checked+.custom-checkbox-label .checkmark {
              stroke-dashoffset: 0;
            }


          }
        }

      }


      .data-2 {
        // width: 50%;
        margin: 20px 0;
        background: linear-gradient(-45deg, var(--emp-light), var(--emp-gray), var(--emp-dark));
        height: 450px;
        padding: 10px;
        position: relative;

        .bg-overlay {
          z-index: -2;
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          border-radius: 10px;

          &::after {
            position: absolute;
            width: 50vw;
            height: 50vw;
            content: '';
            filter: blur(10px);
            background: linear-gradient(90deg, #94c4ff, #1875ff);
            border-radius: 50%;
            bottom: -50%;
            right: -25%;
            z-index: -2;
          }
        }

        .recent-list {
          // width: 100%;
          height: 100%;
          overflow-x: auto;
          overflow-y: auto;


          .search-line {
            input {
              width: 250px;
              margin: 10px 0px;
              border-radius: 5px;
              outline: none;
              background: #ffffffcb;
              padding: 5px;
              color: #2d2d2d;

              &::placeholder {
                color: #2d2d2d;
                padding: 5px;
              }
            }

            .dropdown-container {
              position: relative;
              display: inline-block;
            }

            .dropdown-calendar {
              position: absolute;
              top: calc(100% + 4px);
              left: 0;
              background: #fff;
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
              border-radius: 4px;
              z-index: 100;
            }

            .date-range-btn {
              cursor: pointer;
              border-radius: 5px;
              background: #ffffffcb;
              padding: 5px;
              box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            }

          }


          .table-container {
            max-height: 325px; // Set your desired height
            overflow-y: auto;

            table {
              width: 100%;
              border-collapse: collapse;

              thead {
                th {
                  position: sticky;
                  top: 0;
                  background-color: rgba(255, 255, 255, 0.9); // Ensure a solid background
                  z-index: 1; // So that header stays on top of the tbody rows
                  padding: 7px 10px;
                  text-align: left;
                  font-weight: 600;
                  font-size: 13px;
                }
              }

              tbody {
                tr {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  transition: background-color 0.3s ease;

                  &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                  }

                  td {
                    padding: 7px 10px;
                    font-size: 12px;

                    input {
                      padding: 3.5px;
                      border-radius: 5px;
                      background: #a19850;
                      color: #2d2d2d;

                      &::placeholder {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}